@font-face {
    font-family: Ico;
    src: url('Ico.woff') format('woff');
}
@font-face {
    font-family: alert-font;
    src: url('Awesome.woff') format('woff');
}
@font-face {
    font-family: ubuntu-font;
    src: url('Ubuntu.ttf');
}